html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
body.work-bg,
body.home-bg {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
}
body.work-bg {
  background-position: 0 0;
}
body.home-bg {
  background-position: 0 -768px;
}
body.yellow-bg {
  background-color: #ffb80b;
}
body.blue-bg {
  background-color: #0e83cd;
}
.launcher-content {
  display: none;
}
.launcher-content:first-child {
  display: block;
}
.mode-wrapper {
  position: absolute;
  height: 240px;
  width: 120px;
  top: 50%;
  left: 0;
  margin-top: -180px;
}
.mode-wrapper .context-mode-title {
  width: 100%;
  height: 120px;
}
.mode-wrapper .context-mode-title.mode-work {
  background: url("../images/modework.png") no-repeat left top;
  background-color: rgba(255, 255, 255, 0.5);
}
.mode-wrapper .context-mode-title.mode-home {
  background: url("../images/modehome.png") no-repeat left top;
  background-color: rgba(255, 255, 255, 0.5);
}
.mode-wrapper .context-mode-title.current {
  background-color: white;
}
#launcher-1 {
  background-color: rgba(0, 0, 0, 0.2);
  height: 605px;
  width: 850px;
  margin: 0 auto;
}
#launcher-1 .first-line {
  padding-top: 40px;
  max-height: 220px;
  text-align: right;
}
#launcher-1 .first-line .current-time-wapper {
  display: inline-block;
  height: 133px;
  width: 320px;
  background: url("../images/WEATHER.png") no-repeat center;
  background-color: rgba(79, 193, 233, 0.4);
}
#launcher-1 .first-line .current-time-wapper .current-time {
  font-size: 58px;
  font-family: Arial;
  color: white;
  padding-top: 36px;
  padding-right: 24px;
}
#launcher-2,
#launcher-3 {
  min-height: 786px;
  width: 1160px;
  margin: 0 auto;
}
#launcher-2 .left-block,
#launcher-3 .left-block,
#launcher-2 .right-block,
#launcher-3 .right-block {
  height: 100%;
  float: left;
}
#launcher-2 .left-block ul,
#launcher-3 .left-block ul,
#launcher-2 .right-block ul,
#launcher-3 .right-block ul {
  padding-bottom: 60px;
}
#launcher-2 .left-block ul li,
#launcher-3 .left-block ul li,
#launcher-2 .right-block ul li,
#launcher-3 .right-block ul li {
  min-height: 115px;
}
#launcher-2 .left-block ul li .initial,
#launcher-3 .left-block ul li .initial,
#launcher-2 .right-block ul li .initial,
#launcher-3 .right-block ul li .initial {
  display: inline-block;
  font-size: 50px;
  line-height: 115px;
  width: 115px;
  text-align: center;
  color: #85b4d2;
  font-family: Arial;
  vertical-align: top;
}
#launcher-2 .left-block ul li .categorized-initial,
#launcher-3 .left-block ul li .categorized-initial,
#launcher-2 .right-block ul li .categorized-initial,
#launcher-3 .right-block ul li .categorized-initial {
  width: 72px;
  height: 115px;
  background-color: #d1a12b;
}
#launcher-2 .left-block,
#launcher-3 .left-block {
  width: 850px;
  background-color: rgba(0, 0, 0, 0.2);
}
#launcher-2 .left-block .li-header,
#launcher-3 .left-block .li-header {
  width: 810px;
  padding: 0 20px;
  text-align: right;
  border-bottom: 3px solid #85b4d2;
  background-color: #0b69a4;
  position: fixed;
}
#launcher-2 .left-block .li-header img,
#launcher-3 .left-block .li-header img {
  margin: 40px 50px 10px 0;
}
#launcher-2 .left-block ul,
#launcher-3 .left-block ul {
  margin: 0;
  padding: 71px 0 60px;
  list-style: none;
}
#launcher-2 .right-block .launcher-label,
#launcher-3 .right-block .launcher-label {
  position: fixed;
  display: block;
  height: 26px;
  width: 150px;
  top: 240px;
  margin-left: 90px;
}
#launcher-2 .right-block .launcher-label.collection,
#launcher-3 .right-block .launcher-label.collection {
  background: url("../images/collection.png") no-repeat center;
}
#launcher-2 .right-block .launcher-label.atoz,
#launcher-3 .right-block .launcher-label.atoz {
  background: url("../images/atoz.png") no-repeat center;
}
#launcher-2 ul {
  width: 790px;
  padding-top: 20px !important;
}
#launcher-2 ul li {
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.3);
}
#launcher-2 ul li .arrow {
  background: url("../images/arrow.png");
  float: right;
  width: 15px;
  height: 10px;
  margin-top: -120px;
  margin-right: 10px;
}
#launcher-2 ul li .icon-small {
  border-color: #d1a12b !important;
}
#mingdao-block {
  height: 150px;
  width: 450px;
  position: absolute;
  bottom: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#mingdao-block.entrance {
  background: url("../images/entrance.png") no-repeat top left;
  background-color: rgba(0, 0, 0, 0.5);
}
#mingdao-block ul {
  list-style: none;
}
#mingdao-block ul li {
  margin-bottom: 10px;
  cursor: pointer;
}
#mingdao-block ul li a {
  color: white;
  text-decoration: none;
}
#mingdao-block ul li a .expire {
  color: #CCC;
}
#launcher-3 ul li {
  border-top: 3px solid #85b4d2;
}
#launcher-3 ul li:first-child {
  border-top: none;
}
.upper-part {
  margin-bottom: 60px;
}
.upper-part .main-content {
  height: 100%;
}
.icon-wrapper {
  display: inline-block;
  text-decoration: none;
  margin-top: 18px;
  text-align: center;
  vertical-align: top;
}
.icon-wrapper .icon-small {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 3px solid #85b4d2;
  border-radius: 60px;
  vertical-align: top;
  margin: 0 25px 5px;
  overflow: hidden;
  background-color: white;
}
.icon-wrapper .icon-small img {
  height: 60px;
  width: 60px;
}
.icon-wrapper .icon-add {
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: top;
  margin: 0 25px 5px;
  overflow: hidden;
}
.icon-wrapper .icon-add img {
  margin-top: 25px;
  cursor: pointer;
}
.icon-wrapper .icon-large {
  display: inline-block;
  height: 98px;
  width: 98px;
  border: 5px solid white;
  border-radius: 98px;
  vertical-align: top;
  margin: 0 23px 5px;
  overflow: hidden;
}
.icon-wrapper .icon-large img {
  height: 104px;
  margin: -3px 0 0 -3px;
}
.icon-wrapper .icon-label {
  color: white;
  font-family: Arial;
  display: inline-block;
  min-width: 98px;
}
.bottom-part {
  background: url("../images/launcher.png") no-repeat;
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: white;
  width: 100%;
}
.bottom-part .tab-holder {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 0px;
}
.bottom-part .tab-holder .tab-switcher {
  width: 78px;
  height: 32px;
  border-top: 5px solid #d5d7d6;
  display: inline-block;
  margin: 0 10px;
  margin-top: 15px;
}
.bottom-part .tab-holder .tab-switcher:hover,
.bottom-part .tab-holder .tab-switcher.current {
  border-top-color: #7d7d7d;
  cursor: pointer;
}
.button-group {
  position: absolute;
  bottom: 60px;
  right: 0;
}
