doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Indefensible Launcher
    link(rel="stylesheet", type="text/css", href="styles/main.css")
    link(rel="stylesheet", href="test/lib/mocha.css")
  body
    .upper-part
      .main-content
        .main-body

          #launcher-1.launcher-content
            .content-wrapper
              .mode-wrapper
                .context-mode
                  #work.context-mode-title.mode-work
                  #home.context-mode-title.mode-home
                  #add-context
                    img(src="../images/add.png")
              .first-line
                .current-time-wapper
                  #current-time.current-time
              .apps

          #launcher-2.launcher-content
            .top-trash
              h1 Remove App from collection
            .left-block.block
            .right-block.block
              ul.from-az

          #launcher-3.launcher-content
            .left-block
            .right-block
              .launcher-label

    .bottom-part
      .navigator
        .tab-holder
          #tab-1.tab-switcher.current
          #tab-2.tab-switcher
          #tab-3.tab-switcher

    script#icon-wrapper-tmpl(type="text/template")
      a.icon-wrapper(href="http://%httpUrl%")
        span.icon-small
          //- img(src="../images/icons/%domainName%.jpg")
          img(src="http://statics.dnspod.cn/proxy_favicon/_/favicon?domain=%httpUrl%")
        br
        span.icon-label %domainName%

    script#plus-icon-wrapper-tmpl(type="text/template")
      div.icon-wrapper.icon-add-wrapper
        span.icon-add
          img.add-new-app(src="../images/add.png")

    script#catalogue-tmpl(type="text/template")
      li.app-collection(data-collection="%catalogueName%")
        span.initial.categorized-initial
          img(src="../images/%catalogueName%logo.png")
        %iconsDomStr%
        div.arrow

    script(src="jquery/jquery.min.js")
    script(src="jquery-ui/js/jquery-ui-1.10.4.min.js")

    script(src="js/constant.js")
    script(src="js/storage.js")
    script(src="js/model.js")
    script(src="js/view_model.js")
    
    script(src="js/app.js")
    
    //- script(src="js/demo.js")
    //- script(src="js/mockdata.js")
    //- script(src="js/test.js")
    
    script(src="js/typedUrls.js")
