body {
    background-color: red;
}

.launcher-content {
    display: none;
    &:first-child {
        display: block;
    }
}

.context-mode-title {
    background-color: white;
    &.current {
        background-color: yellow;
    }
}
