html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    &.work-bg, &.home-bg {
        background-image: url("../images/bg.png");
        background-repeat: no-repeat;
    }
    &.work-bg {
        background-position: 0 0;
    }
    &.home-bg {
        background-position: 0 -768px;
    }
    &.yellow-bg {
        background-color: #ffb80b;
    }
    &.blue-bg {
        background-color: #0e83cd;
    }
}

.launcher-content {
    display: none;
    &:first-child {
        display: block;
    }
}

.mode-wrapper {
    position: absolute;
    height: 240px;
    width: 120px;
    top: 50%;
    left: 0;
    margin-top: -180px;
    .context-mode-title {
        &.mode-work {
            background: url("../images/modework.png") no-repeat left top;
            background-color: rgba(255,255,255,0.5);            
        }
        &.mode-home {
            background: url("../images/modehome.png") no-repeat left top;
            background-color: rgba(255,255,255,0.5);            
        }
        &.current {
            background-color: white;
        }
        width: 100%;
        height: 120px;
    }
}

#launcher-1 {
    background-color: rgba(0,0,0,0.2);
    height: 605px;
    width: 850px;
    margin: 0 auto;
    .first-line {
        padding-top: 40px;
        max-height: 220px;
        text-align: right;
        .current-time-wapper {
            display: inline-block;
            height: 133px;
            width: 320px;
            background: url("../images/WEATHER.png") no-repeat center;
            background-color: rgba(79,193,233,0.4);
            .current-time {
                font-size: 58px;
                font-family: Arial;
                color: white;
                padding-top: 36px;
                padding-right: 24px;
            }
        }
    }
}

#launcher-2, #launcher-3 {
    min-height: 786px;
    width: 1160px;
    margin: 0 auto;
    .left-block, .right-block {
        height: 100%;
        float: left;
        ul {
            padding-bottom: 60px;
            li {
                min-height: 115px;
                .initial {
                    display: inline-block;
                    font-size: 50px;
                    line-height: 115px;
                    width: 115px;
                    text-align: center;
                    color: #85b4d2;
                    font-family: Arial;
                    vertical-align: top;
                }
                .categorized-initial {
                    width: 72px;
                    height: 115px;
                    background-color: #d1a12b;
                }
            }
        }
    }
    .left-block {
        width: 850px;
        background-color: rgba(0,0,0,0.2);
        .li-header {
            width: 810px;
            padding: 0 20px;
            text-align: right;
            border-bottom: 3px solid #85b4d2;
            background-color: #0b69a4;
            position: fixed;
            img {
                margin: 40px 50px 10px 0;
            }
        }
        ul {
            margin: 0;
            padding: 71px 0 60px;
            list-style: none;
        }
    }
    .right-block {
        // width: 1160-850px;
        .launcher-label {
            position: fixed;
            display: block;
            height: 26px;
            width: 150px;
            top: 240px;
            margin-left: 90px;
            &.collection {
                background: url("../images/collection.png") no-repeat center;
            }
            &.atoz {
                background: url("../images/atoz.png") no-repeat center;
            }
        }
    }
}

#launcher-2 {
    ul {
        width: 790px;
        padding-top: 20px !important;
        li {
            margin: 20px 0;
            background-color: rgba(255,255,255,0.3);
            .arrow {
                background: url("../images/arrow.png");
                float: right;
                width: 15px;
                height: 10px;
                margin-top: -120px;
                margin-right: 10px;
            }
        }
    }
}

#launcher-3 {
    ul li {
        border-top: 3px solid #85b4d2;
        &:first-child {
            border-top: none;
        }
    }
}

.upper-part {
    margin-bottom: 60px;
    .main-content {
        height: 100%;
    }
}

.icon-wrapper {
    display: inline-block;
    text-decoration: none;
    margin-top: 18px;
    text-align: center;
    .icon-small {
        @r: 60px;
        display: inline-block;
        height: @r;
        width: @r;
        border: 3px solid #85b4d2;
        border-radius: @r;
        vertical-align: top;
        margin: 0 25px 5px;
        overflow: hidden;
        // background: url("../images/default-icon.png") no-repeat center;
        background-color: white;
        img {
            height: 60px;
            width: 60px;
        }
    }
    .icon-large {
        @r: 98px;
        display: inline-block;
        height: @r;
        width: @r;
        border: 5px solid white;
        border-radius: @r;
        vertical-align: top;
        margin: 0 23px 5px;
        overflow: hidden;
        // background: url("../images/default-icon.png") no-repeat center;
        img {
            height: @r / 2 + 6;
            margin-top: 14px;
        }
    }
    .icon-label {
        color: white;
        font-family: Arial;
        display: inline-block;
        min-width: 98px;
    }
}

.bottom-part {
    background: url("../images/launcher.png") no-repeat;
    position: fixed;
    bottom: 0px;
    height: 60px;
    background-color: white;
    width: 100%;
    .tab-holder {
        width: 500px;
        margin: 0 auto;
        text-align: center;
        font-size: 0px;
        .tab-switcher {
            width: 78px;
            height: 32px;
            border-top: 5px solid #d5d7d6;
            display: inline-block;
            margin: 0 10px;
            margin-top: 15px;
            &:hover, &.current {
                border-top-color: #7d7d7d;
                cursor: pointer;
            }
        }
    }
}

.button-group {
    position: absolute;
    bottom: 60px;
    right: 0;
}
